.header {
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 92px 50px 96px 50px;
background-color: #ffffff;
}
.header__links-list {
display: flex;
gap: 32px;
font-size: 18px;
list-style: circle;
font-size: 18px;
line-height: 100%;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
}
.header__link_active{
text-decoration: none;   
}
.header_logo {
    display: block;
width: 148px;
height: 105px;
}
.header__address {
   max-width: 240px; 
   justify-self: end;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-size: 18px;
line-height: 24.3px;
}
.cover {
    padding: 165px 50px 50px 50px;
    min-height: 757px;
background-image: url(../images/cover.jpg);
background-repeat: no-repeat;
background-size: cover;
position: relative;   
}
.overlay {
position: absolute;
background-color: rgba(0, 0, 0, 0.6);
}
.cover_title {
z-index: 1;
position: relative;  
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 100px;
line-height: 114.99999999999999%;
letter-spacing: 30%;
text-transform: uppercase;
color: rgba(255, 255, 255, 1);
}
.aligned-text {
    display: block;
}
.aligned-text_left {
    text-align: left;
}
.aligned-text_center {
   text-align: center; 
}
.aligned-text_right {
 text-align: right;    
}
