.header {
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 92px 50px 96px 50px;
background-color: #ffffff;
}
.header__links-list {
display: flex;
gap: 32px;
font-size: 18px;
list-style: circle;
font-size: 18px;
line-height: 100%;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
}
.header__link_active{
text-decoration: none;   
}
.header_logo {
    display: block;
width: 148px;
height: 105px;
}
.header__address {
   max-width: 240px; 
   justify-self: end;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-size: 18px;
line-height: 24.3px;
}
.cover {
    padding: 165px 50px 50px 50px;
    min-height: 757px;
background-image: url(../images/cover.jpg);
background-repeat: no-repeat;
background-size: cover;
position: relative; 
z-index: 0;  
}
.overlay {
position: absolute;
z-index: 1;
background-color: rgba(0, 0, 0, 0.6);
inset: 0;
}
.cover_title {
z-index: 2;
position: relative;  
font-size: 100px;
line-height: 114.99999999999999%;
letter-spacing: 30%;
text-transform: uppercase;
display: flex;
flex-direction: column;
row-gap: 25px;
color: rgba(255, 255, 255, 1);
}
.aligned-text {
    display: block;

}
.aligned-text_left {
    text-align: left;
}
.aligned-text_center {
   text-align: center; 
}
.aligned-text_right {
 text-align: right;    
}
.description {
display: flex;
justify-content: flex-end;
align-items: center;
gap: 78px;
}
.text-description {
font-size: 22px;
line-height: 28px;
letter-spacing: 0%;
text-transform: uppercase;
color: rgba(255, 255, 255, 1);
word-spacing:
}
.bet-button {
width: 256px; 
height: 51px; 
border: 1px solid rgba(255, 255, 255, 1);
background-color: transparent;
font-weight: 500;
font-style: Medium;
font-size: 22px;
text-align: center;
text-transform: uppercase;
color: rgba(255, 255, 255, 1);
}
.lots {
width: 1052px;
min-height: 723px; 
margin-top: 180px;
margin-right: 24px;
margin-left: 24px;
margin-bottom: 120px;
 }
 .lots_title {
padding bottom: 27px;
padding left: 64px;
padding top: 180px;  
 font-family: Raleway;
font-size: 40px;
text-transform: uppercase;
color: rgba(0, 0, 0, 1);
 }
 .lots__card-list {
        list-style-type: none;
    display: flex;
flex-wrap: wrap;
gap: 25px;
   } 
   .lots__card-list-item {
    display: flex;
flex-direction: column;
  max-width: 334px;
min-height: 596px;
position: relative;
padding: 0;  
 margin: 0 auto;
 flex-grow: 1;

   }
   .card-link {
display: block;

   }
   .card {
   
position: relative;
height: 100%;
display: flex;
flex-direction: column;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
justify-content: space-between;

}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
   }
.card_type_book {background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {background-image: url(../images/card-lot-03.jpg);
   }
.card__title {
    z-index: 2;
font-style: Bold;
font-size: 22px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
color: rgba(255, 255, 255, 1);
   padding: 48px 40px 0px;
}
.card__text {
font-size: 20px;
line-height: 120%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);
z-index: 2;  
}
.about {
margin-bottom: 180px;
 }
 .about__column {
  display: grid;
grid-template-columns: 334px auto; 
gap: 25px;
padding-top: 35px; 
padding-left: 47px;
padding-right: 24px;
padding-bottom: 0px;  
 }
.about__logo {
width: 240px;
height: 240px;
angle: 0 deg;
opacity: 1;
background-color: rgba(0, 0, 0, 1);
 border-radius: 50%;
  display: flex; 
   justify-content: center;  
  align-items: center;
}
.about__logo-image {
width: 148px;
height: 114px;   
}
.about__title {
 font-style: Bold;
font-size: 40px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: rgba(0, 0, 0, 1);
padding-top: 136px;


}
.about__text {
display: flex;
flex-direction: column;
gap: 24px;
padding-top: 100px;
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);
}
.footer {
display: grid; 
grid-template-columns: 1fr min-content 1fr; 
background-color: aqua; 
align-items: flex-start;
}
.footer__address {
      max-width: 240px;
      display: flex; 
   justify-self: start;
      flex-direction: column;
   align-items: flex-start;
   font-size: 18px;
line-height: 24.3px;
}
.footer__menu-list {
 display: flex;
 flex-direction: column;
 justify-self: center;
font-size: 18px;
list-style-type: none;
font-size: 18px;
line-height: 100%;   
}
.footer__menu-link_active {
text-decoration: none;    
}
